

services:
  db:
    image: postgres:15
    container_name: todo-db
    environment:
      POSTGRES_USER: saishtiwari
      POSTGRES_PASSWORD: pcps@123
      POSTGRES_DB: todo_db
    ports:
      - "5432:5432"
    volumes:
      - ./backend/database:/docker-entrypoint-initdb.d


  backend:
    build: ./backend
    container_name: backend
    env_file:
      - ./backend/.env
    ports:
      - "5050:5050"
    depends_on:
      - db


  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_URL: http://3.231.60.104:5050/api
    container_name: frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend