services:
  db:
    image: postgres:15
    container_name: todo-db
    environment:
      POSTGRES_USER: saishtiwari
      POSTGRES_PASSWORD: pcps@123
      POSTGRES_DB: todo_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./backend/database:/docker-entrypoint-initdb.d
    networks:
      - mern-net

  backend:
    build: ./backend
    container_name: backend
    env_file:
      - ./backend/.env
    depends_on:
      - db
    networks:
      - mern-net

  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_URL: /api
    container_name: frontend
    depends_on:
      - backend
    networks:
      - mern-net

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - backend
    networks:
      - mern-net

volumes:
  postgres_data:

networks:
  mern-net:
    driver: bridge